.feedback__box {
  display: block;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
}
.feedback__text {
  font-size: large;
  text-align: center;
}
.feebdack__listScales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  gap: 20px;
  list-style: none;
}
.feebdack__scale {
  display: block;
  font-size: x-large;
}
.feedback__statisticsText {
  font-size: large;
  text-align: center;
}
.statistics__listResults {
  display: block;
  justify-content: center;
}
.statistics__result {
  font-size: large;
}
